.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mat-list-base .mat-list-item {
    font-size: 23px;
}

.player-text {
  padding-left: 7px;
}

.mat-card {
  background-color: #ffb84d;
  margin: 1em;
}
