<div class="row justify-content-center">
  <div class="col-md-2">
    Player: {{ playerOne.name }}
  </div>
  <div class="col-md-2">
    Player: {{ playerTwo.name }}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    Wins: {{ playerOne.winCount }}
  </div>
  <div class="col-md-2">
    Wins: {{ playerTwo.winCount }}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    Last chosen: {{ playerOne.lastChosen }}
  </div>
  <div class="col-md-2">
    Last chosen: {{ playerTwo.lastChosen }}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-2">
    State: {{ playerOne.state }}
  </div>
  <div class="col-md-2">
    State: {{ playerTwo.state }}
  </div>
</div>
