<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/"
         class="navbar-brand">Home
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li role="presentation"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="/game"
             *ngIf="authService.isAuth()">Game</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li role="presentation"
            routerLinkActive="active">
          <a class="nav-link"
             routerLink="/opponentList"
             *ngIf="authService.isAuth()">Opponents</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!authService.isAuth()">
          <li role="presentation"
              routerLinkActive="active">
            <a class="nav-link"
               routerLink="/signup">Signup</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a class="nav-link"
               routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li role="presentation"
            routerLinkActive="active">
          <a class="nav-link"
             style= "cursor: pointer"
             (click)="onLogout()"
             *ngIf="authService.isAuth()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
