#head-navbar {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.nav>li {
  display: inline-block;
  white-space: nowrap;
  padding-left: 15px;
}
ul.navbar-nav{
  display: inline-block;
}

.container-fluid {
  display: inline-block;
}
