<div fxLayout="column" fxLayoutAlign="center center"
     *ngIf="playerOne && (playerOne.state != 'requested')">
  <h4>Choose a player to start a new Game, or wait till you are invited.</h4>
  <p>(Choose yourself to play against AI)</p>
</div>
<div fxLayout="column" fxLayoutAlign="center center"
     *ngIf="playerTwo && playerOne && (playerOne.state === 'requested')">
  <h4>You have been requested for a game by {{ playerTwo.name }}</h4>
  <br>
  <mat-button-toggle-group (change)="onSubmit($event)">
    <mat-button-toggle value="accept">accept</mat-button-toggle>
    <mat-button-toggle value="decline">decline</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<hr>
<div fxLayout="column" fxLayoutAlign="center center">
  <div class="col-md-3">
    <app-opponent
      *ngFor="let opponent of opponentList"
      [opponent]="opponent">
    </app-opponent>
  </div>
</div>
