<div *ngIf="gService.playerTwo">
  <div class="row">
    <div class="col">
      <app-player></app-player>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <mat-button-toggle-group (change)="onSubmit($event)" [disabled]="isDisabled" [(ngModel)]="groupModel">
          <mat-button-toggle [checked]="groupModel == 'foo'" value="rock">Rock</mat-button-toggle>
          <mat-button-toggle [checked]="groupModel == 'foo'" value="paper">Paper</mat-button-toggle>
          <mat-button-toggle [checked]="groupModel == 'foo'" value="scissors">Scissors</mat-button-toggle>
          <mat-button-toggle [checked]="groupModel == 'foo'" value="lizard">Lizard</mat-button-toggle>
          <mat-button-toggle [checked]="groupModel == 'foo'" value="spock">Spock</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center"
     *ngIf="gameSession && gameSession.result">
  <h2>{{ gameSession.result }}</h2>
  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
