<div align="center">
  <h3>Welcome to Rock, Paper, Scissors, Lizard, Spock</h3>
  <hr>
  <img src="assets/rock_paper_scissors_lizard_spock.jpg"
       alt="rock_paper_scissors_lizard_spock.jpg"
       style="max-height: 400px;">
</div>
<mat-card>
  <mat-card-header>
    <h4>The story to the game</h4>
  </mat-card-header>
  <mat-card-content>
    Since the dawn of mankind there was always a need to settle quarrels a certain way.
    Once a debate reached a dead end, the settlement often involved physical action and
    therefore the usage of items of a wide variety. One of the first tools in this context
    was the good old rock, whose pragmatic usage is known throughout history. While this
    is quite efficient, it is not always an appropriate solution to come to a consent.
    The invention of law and scripture led to the usage of paper in order to sign in petitions to
    solve a dispute in an official manner. A less violent but time taking approach, often
    stressing the patience of the parties involved. Certain cases took so long that
    natures way interfered and one could get killed by poisonous lizards in the process.
    No wonder opponents often resigned to household items like scissors, especially
    in private disagreements. Now legend has it that one day a man named Spock, from
    a far evolved future, came to see the barbarism of the contending culture of those
    times and invented the concept of gaming instead of physical argumentation. The classic
    <strong>Rock, Paper, Scissors</strong> was born. While the actual items involved in
    this game changed through the ages, those variants often lack in balance of power
    in the game. The version available here is one of the most accepted, and thanks to
    technological advancements, even physical presents is no longer needed to settle a discord.
    <br><br>
    Have fun, stay save and get on with it.
  </mat-card-content>
</mat-card>
